/* Customizations to the FF display
Changes found at https://medium.com/@Aenon/firefox-hide-native-tabs-and-titlebar-f0b00bdbb88b

Additional tweaks can be found at:  https://github.com/Timvde/UserChrome-Tweaks

Access the browser toolbox:
`Ctrl + Alt + Shift + I`

Seth Forrest, Apr 2019
 */

/* hides the native tabs */
/* #TabsToolbar {
  visibility: collapse;
} */
/* #titlebar {
  visibility: collapse;
} */


/* Hide horizontal tabs at the top of the window */
#tabbrowser-tabs {
  visibility: collapse !important;
}


/* leaves space for the window buttons */
#nav-bar {
    margin-top: -30px;
    margin-right: 140px;
}

/* aligns window buttons (close, minimize, full-screen); Not working */
/* #titlebar-buttonbox {
    top: 10px;
} */

/*********** Tree-Style Tab Drawer *************/

:root {
  --nohover: 50px;
  --visible: 250px;
}

#appcontent {
    border-left: var(--nohover) solid black!important;
}


#sidebar-box {
  position: relative !important;
  overflow-x: hidden !important;
  margin-right: calc(var(--nohover) * -1) !important; /* adds extra barrier on right */
  left: var(--nohover) !important;
  min-width: var(--nohover) !important;
  max-width: var(--nohover) !important;
  /* opacity: 1 !important; */
}

#sidebar-box:hover {
  margin-right: calc(var(--visible) * -1) !important;
  left: var(--visible) !important;
  min-width: var(--visible) !important;
  max-width: var(--visible) !important;
  opacity: .9 !important;

  transition-delay: .25s;
}

/* #sidebar-header is hidden by default, change "none" to
   "inherit" to restore it. */
#sidebar-header {
  display: none !important;
}

/* #sidebar-splitter styles the divider between the sidebar
   and the rest of the browser. */
#sidebar-splitter {
}
